<div class='container'>
  <h3>{{deviceStatistic?.username}}</h3>
  <p>Идентификатор: {{deviceStatistic?.id}}</p>
  <p>Версия ПО: {{deviceStatistic?.appVersion}}</p>
  <ngx-datatable [count]='deviceEvents.length'
                 [rows]='deviceEvents'
                 class='bootstrap' default>
    <ngx-datatable-column [name]="'::DeviceEvent:Name' | abpLocalization"
                          prop='name'></ngx-datatable-column>
    <ngx-datatable-column [name]="'::DeviceEvent:CreationDate' | abpLocalization"
                          prop='creationDate'></ngx-datatable-column>
  </ngx-datatable>
</div>
