<div class='card'>
  <div class='card-header'>
    <div class='row'>
      <div class='col col-md-6'>
        <h5 class='card-title'>
          {{ '::Menu:DeviceStatistics' | abpLocalization }}
        </h5>
      </div>
      <div class='text-end col col-md-6'></div>
    </div>
  </div>
  <div class='card-body'>
    <ngx-datatable [rows]='deviceStatistics.items' [count]='deviceStatistics.totalCount' [list]='list' default>
      <ngx-datatable-column [name]="'::DeviceStatistic:DeviceId' | abpLocalization"
                            prop='deviceId'></ngx-datatable-column>
      <ngx-datatable-column [name]="'::DeviceStatistic:Username' | abpLocalization"
                            prop='username'></ngx-datatable-column>
      <ngx-datatable-column [name]="'::DeviceStatistic:OperatingSystem' | abpLocalization"
                            prop='operatingSystem'></ngx-datatable-column>
      <ngx-datatable-column [name]="'::DeviceStatistic:AppVersion' | abpLocalization"
                            prop='appVersion'></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
